* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body {
    background-color: #D8F3F9;
    font-family: 'Courier New', Courier, monospace;
}

.section {
    width: 70%;
    min-height: 80vh;
    border-radius: 10px;
    margin: auto;
    background-color: white;
}

.title {
    font-size: 30px;
    text-align: center;
    padding: 30px;
}

.fill-task {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

#task-name {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    min-width: 50px;
    width: 40%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

button#plus {
    font-size: 16px;
    background-color: #0F111A;
    color: white;
    border: 0;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
}

button#plus:hover {
    background-color: #D8F3F9;
    color: #0F111A;
    transition: .2s;
}

.tasks-list {
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

.task-element {
    padding: 10px;
}

.task-element:last-child {
    padding-bottom: 50px;
}

.list-button {
    margin-left: 30px;
    border: 0;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
}

.button-done {
    background-color: #CDF1DB;
}

.button-remove {
    background-color: #F9C7C7;
}